.vscode-test/
node_modules
.DS_Store

!packages/wasi/package.json
!packages/wasm/package.json

# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log

# native module
target
index.node
artifacts.json
crates/macmedia/media

# cache and build file
.cache
.artifact
build
out
dist
**/*.vsix