out
node_modules
.vscode-test/
*.vsix
yarn-error.log
dist
.DS_Store

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

native/target
native/index.node
native/artifacts.json

.cache
.artifact
build

package.nls.*.json

page/css
page/js
