.vscode-test/
node_modules
.DS_Store

# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log

# native module
target
index.node
artifacts.json

# cache and build file
.cache
.artifact
build
out
dist
**/*.vsix
