.vscode-test
**/*.map
node_modules

# yarn
.yarn
.pnp.*
.yarnrc.yml
yarn-error.log
yarn.lock

# configuration
.github
.vscode
**/gulpfile.js
**/renovate.json
**/webpack.config.js
**/.gitignore
**/.editorconfig
**/tsconfig.json
**/.eslintrc.json
**/.browserslistrc

# scoure code
i18n
native
src
webview

# cache and build file
.cache
.parcel-cache
.artifact
out
**/*.vsix

# document
doc
vsc-extension-quickstart.md
media/icon.svg
media/icon-72.png
media/icon-150.png
**/*.LICENSE.txt
