.vscode-test
**/*.map
node_modules

# yarn
.yarn
.pnp.*
.yarnrc.yml
yarn-error.log
yarn.lock

# configuration
.github
**/gulpfile.js
**/renovate.json
**/webpack.config.js
**/.gitignore
**/.editorconfig
**/tsconfig.json
**/.eslintrc.json
**/.browserslistrc
**/postcss.config.js
**/tailwind.config.js
Cargo.*

## editors
.vim
.vscode

# scoure code
src
*.rs

# cache and build file
.cache
.artifact
out
**/*.vsix
target
index.node

# document
doc
vsc-extension-quickstart.md
media/icon.svg
media/icon-72.png
media/icon-150.png
**/*.LICENSE.txt
