.commentList {
  .tab {
    &-bar {
      &--extra-left {
        font: {
          weight: bold;
        }
        margin: {
          right: 32px;
        }
      }
    }
  }
  .list {
    &-title {
      &--time {
        font: {
          size: 13px;
        }
        margin: {
          left: 8px;
        }
      }
    }
    &-content {
      &--beReplied {
        background-color: rgba($color: #242728, $alpha: 0.2);
        border: {
          left: 5px solid #242728;
        }
        padding: {
          left: 12px;
        }
      }
    }
  }
}
