.flex {
  display: flex;

  &-column {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }

  &-space-around {
    justify-content: space-around;
  }

  &-align {
    &-center {
      align-items: center;
    }
  }
}
