.userMusicRankingList {
  .list-extra {
    width: 66%;

    &--order {
      font: {
        size: 20px;
        weight: bold;
      }
      padding-left: 4px;
      width: 64px;
    }

    &--progress {
      flex-grow: 1;
    }

    &--count {
      font: {
        size: 18px;
      }
      margin-left: 2%;
      width: 70px;
    }
  }
}
